---
---

@import "palettes";
@import "theme";
@import "mixins";

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;

  backdrop-filter: blur(3px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 30px;
  color: $white;
  background-color: rgba($color: $black, $alpha: 0.55);
  box-shadow: $shadow;

  & * {
    font-family: $sans;
  }

  .logo_row {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .logo {
      max-width: 100%;
      height: 80px;
    }

    .logo_text {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 5px;
      line-height: $spacing - 0.3;

      .logo_title {
        font-size: 1.5rem;
      }

      .logo_subtitle {
        font-size: 0.9rem;
        font-style: italic;
        color: $gray-500;
      }
    }
  }

  .nav_row {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: $regular;
    text-transform: uppercase;
    letter-spacing: 1px;

    .link {
      margin: 0;
      font-size: 1rem;
    }

    &:hover .link {
      opacity: 0.25;
    }

    .link:hover {
      opacity: 1;
    }

    .navbar-close {
      display: none;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
    }
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  .navbar-toggle {
    display: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .navbar-toggle-icon-bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }

  // screen width where nav bar wraps to under logo
  // adjust based on width of your lab name and nav bar
  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: stretch;
  }

  // screen width where logo and nav bar go from horizontal to vertical
  // adjust based on width of your lab name and nav bar
  @media (max-width: 700px) {

    flex-direction: row;
    align-items: center;
    padding: 20px;

    .nav_row {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0px;
      right: -100%;
      padding: 100px 50px !important;
      height: 100vh;
      background-color: #fff;
      color: black;
      padding: 10px;
      transition: right 0.3s ease-in-out;
      justify-content: initial;
      -webkit-box-shadow: -10px 0px 24px -7px rgba(0,0,0,0.75);
      -moz-box-shadow: -10px 0px 24px -7px rgba(0,0,0,0.75);
      box-shadow: -10px 0px 24px -7px rgba(0,0,0,0.75);

      &:hover .link {
        opacity: 1;
      }

      .navbar-close {
        display: block;
        color: black;
        position: absolute;
        right: 30px;
        top: 30px;
      }
    }
    
    .nav_row.show {
      right: 0;
    }

    .navbar-toggle {
      display: block;
    }
  }
}
