---
---

@import "palettes";
@import "theme";
@import "mixins";

.navbar-spacer {
    margin-top: 110px;

    @media (max-width: 1000px) {
        margin-top: 156px;
    }
  
    @media (max-width: 700px) {
        margin-top: 110px;
    }
}