---
---

@import "palettes";
@import "theme";
@import "mixins";

.navbar-spacer {
    height: 110px;

    @media (max-width: 1000px) {
        height: 156px;
    }
  
    @media (max-width: 700px) {
        height: 110px;
    }
}

.navbar-spacer-home {
    background-color: black;
    height: 0px;

    @media (max-width: 700px) {
        height: 110px;
    }
}