---
---

* {
  box-sizing: border-box;
  transition: none 0.2s;
}

html, body {
  height: 100%;
  min-height: 100vh;
}

.body-div {
  height: 100%;
  min-height: 100vh;
  overflow-x: clip;
  display: inherit;
  flex-direction: inherit;
  text-align: inherit;
}