---
---

$portraitwidth: 150px;

.portrait-wrapper {
  display: contents;
}

.portrait {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  max-width: 100%;
  text-decoration: none;
}

.portrait[data-style="tiny"] {
  flex-direction: row;
  gap: 15px;
  text-align: left;
}

.portrait-image {
  width: 150px;
  aspect-ratio: 1 / 1;
  border-radius: 999px;
  object-fit: cover;
  box-shadow: var(--shadow);
}

.portrait[data-style="small"] .portrait-image {
  width: 75px;
}

.portrait[data-style="tiny"] .portrait-image {
  width: 50px;
}

.portrait {
  &[data-style="small"], &[data-style="tiny"] {
    .portrait-role, .role {
      display: none;
    }
  }
}

.portrait-text {
  display: flex;
  flex-direction: column;
  line-height: calc(var(--spacing) - 0.4);
}

.portrait-name {
  font-family: var(--heading);
  font-weight: var(--semi-bold);
}

.portrait-role .icon {
  margin-right: 0.5em;
}

.portrait-role {
  display: none;
  @media (max-width: 700px) {
    display: block;
  }
}

.role {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(0.13 * $portraitwidth);
  top: calc(0.13 * $portraitwidth);
  margin: 0;
  width: calc(0.25 * $portraitwidth);
  height: calc(0.25 * $portraitwidth);
  font-size: calc(16 * $portraitwidth / 150);
  background: var(--light-gray);
  color: var(--text);
  border-radius: 999px;
  transform: translate(-50%, -50%);
  box-shadow: var(--shadow);
  @media (max-width: 700px) {
    display: none;
  }
}

.always-visible {
  display: block;
}
