<div width="100%" class="wrapper-bgvideo">
    <div class="roulette__video-container">
        <video id="roulette-video" class="bgvideo" preload="auto" muted autoplay loop>
            <source src="./videos/video1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="bgvideo-title-container">
        <div class="bgvideo-title-text-container">
            <div class="bgvideo-title">
                <h1>
                    Welcome to LEAN
                </h1>
                <div class="title-bar"></div>
                <h2>
                    Laboratory of Alternative Energy<br>
                    and Nanomaterials
                </h2>
            </div>
            <div class="video-scroll-button-container">
                <i class="fa-solid fa-chevron-down video-scroll-button fa-fade"></i>
                <i class="fa-solid fa-chevron-down video-scroll-button fa-fade"></i>
                <i class="fa-solid fa-chevron-down video-scroll-button fa-fade"></i>
            </div>
        </div>
    </div>
    <div class="roulette__buttons">
        <button class="roulette__button" data-video="./videos/video1.mp4">Video 1</button>
        <button class="roulette__button" data-video="./videos/video2.mp4">Video 2</button>
        <button class="roulette__button" data-video="./videos/video3.mp4">Video 3</button>
    </div>
</div>
