<div width="100%" class="wrapper-bgvideo">
    <video width="100%" class="bgvideo" preload="auto" muted autoplay loop>
        <source src="./videos/video.mp4" type="video/mp4">
    </video>
    <div class="bgvideo-title-container">
        <div class="navbar-spacer"></div>
        <div class="bgvideo-title-text-container">
            <div class="bgvideo-title">
                <h1>
                    Welcome to FlavioLab
                </h1>
                <div class="title-bar"></div>
                <h2>
                    Laboratory of Alternative Energy<br>
                    and Nanomaterials
                </h2>
            </div>
        </div>
    </div>
</div>