{% assign emptyarray = "" | split: "," %}
{% assign data = site.data["posts"]
  | default: site["posts"]
  | default: emptyarray
%}

{% assign data = data | sort: "date" | reverse %}


{% assign d = data[0] %}

{% assign published = d.date | date: "%B %d, %Y" %}
{% capture date1 %}
<div class="post-info">
  <span data-tooltip="Published on">
    {% include icon.html icon="fa-regular fa-calendar" %}
    <span>{{ published }}</span>
  </span>
</div>
{% endcapture %}

{% capture button1 %}
{%
  include button.html
  link=d.url
  text="Read more"
  icon="fa-solid fa-arrow-right"
  flip=true
  style="bare"
  newTab=false
%}
{% endcapture %}

{% capture col1 %}

{%
  include card.html
  title=d.title
  subtitle=date1
  image=d.image
  description=d.description
  link=d.url
  button=button1
%}

{% endcapture %}


{% assign d = data[1] %}

{% assign published = d.date | date: "%B %d, %Y" %}
{% capture date2 %}
<div class="post-info">
  <span data-tooltip="Published on">
    {% include icon.html icon="fa-regular fa-calendar" %}
    <span>{{ published }}</span>
  </span>
</div>
{% endcapture %}

{% capture button2 %}
{%
  include button.html
  link=d.url
  text="Read more"
  icon="fa-solid fa-arrow-right"
  flip=true
  style="bare"
  newTab=false
%}
{% endcapture %}

{% capture col2 %}

{%
  include card.html
  title=d.title
  subtitle=date2
  image=d.image
  description=d.description
  link=d.url
  button=button2
%}

{% endcapture %}


{% assign d = data[2] %}

{% assign published = d.date | date: "%B %d, %Y" %}
{% capture date3 %}
<div class="post-info">
  <span data-tooltip="Published on">
    {% include icon.html icon="fa-regular fa-calendar" %}
    <span>{{ published }}</span>
  </span>
</div>
{% endcapture %}

{% capture button3 %}
{%
  include button.html
  link=d.url
  text="Read more"
  icon="fa-solid fa-arrow-right"
  flip=true
  style="bare"
  newTab=false
%}
{% endcapture %}

{% capture col3 %}

{%
  include card.html
  title=d.title
  subtitle=date3
  image=d.image
  description=d.description
  link=d.url
  button=button3
%}

{% endcapture %}

<div class="latest-news-container">
  {%
    include cols.html
    col1=col1
    col2=col2
    col3=col3
  %}
</div>
